<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{images/favicon.png}">
    <title>Welcome Shop quần áo</title>
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link
            href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,100italic,100'
            rel='stylesheet' type='text/css'>
    <link th:href="@{css/font-awesome.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="css/flexslider.css" type="text/css"
          media="screen" />
    <link th:href="@{css/sequence-looptheme.css}" rel="stylesheet" media="all" />
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><![endif]-->
</head>
<body id="home">
<div class="wrapper" th:id="done">
    <!-- Th:replace sẽ thay thế đoạn mã này bằng header.html trong layout.html -->
    <div th:replace="layout/header :: header"></div>
    <!-- Nội dung trang chính -->
    <main>
        <div class="container_fullwidth">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="title contact-title">
                            Liên hệ
                        </h5>
                        <div class="clearfix">
                        </div>
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7836.92159586151!2d106.62275964246484!3d10.852514146603195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752b161f50ae47%3A0x2328d1d1acc3b11a!2sFPT%20Polytechnic%20-%20T%C3%B2a%20F!5e0!3m2!1svi!2s!4v1690472227153!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                            </iframe>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="contact-infoormation">
                                    <h5>
                                        Thông tin liên hệ
                                    </h5>
                                   <!--  <p>
                                        Lorem ipsum dolor sit amet, consectetur ad ipis cing elit. Suspendisse at sapien mascsa. Lorem ipsum dolor sit amet, consectetur se adipiscing elit. Sed fermentum, sapien scele risque volutp at tempor, lacus est sodales massa, a hendrerit dolor slase turpis non mi.
                                    </p> -->
                                    <ul>
                                        <li>
                        <span class="icon">
                          <img src="images/message.png" alt="">
                        </span>
                                            <p>
                                                phatndps15970@gmail.com
                                                <br>
                                                phatnguyen@gmail.com
                                            </p>
                                        </li>
                                        <li>
                        <span class="icon">
                          <img src="images/phone.png" alt="">
                        </span>
                                            <p>
                                                038. 93 668 2236
                                                <br>
                                                038.09 234 2344
                                            </p>
                                        </li>
                                        <li>
                        <span class="icon">
                          <img src="images/address.png" alt="">
                        </span>
                                            <p>
                                                FPT Polytechnic - Tòa F Tân Hưng Thuận, Quận 12,
                                                <br>
                                                TP Hồ Chí Minh, Vietnam
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="ContactForm">
                                    <h5>
                                        Gửi thắc mắc cho chúng tôi
                                    </h5>
                                    <h5 class="text-center" style="color: red; margin-top: -15px" th:text="${message}"></h5>
                                    <form method="post" th:action="@{/contact}">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>
                                                    Tên của bạn
                                                    <strong class="red">
                                                        *
                                                    </strong>
                                                </label>
                                                <input class="inputfild" type="text" name="name">
                                            </div>
                                            <div class="col-md-6">
                                                <label>
                                                    Email của bạn
                                                    <strong class="red">
                                                        *
                                                    </strong>
                                                </label>
                                                <input class="inputfild" type="email" name="email" >
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>
                                                    Nội dung
                                                    <strong class="red">
                                                        *
                                                    </strong>
                                                </label>
                                                <textarea class="inputfild" rows="8" name="message">
                          </textarea>
                                            </div>
                                        </div>
                                        <button class="pull-right">
                                            Gửi cho chúng tôi
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                </div>
                <div class="our-brand">
                    <h3 class="title">
                        <strong>
                            Our
                        </strong>
                        Brands
                    </h3>
                    <div class="control">
                        <a id="prev_brand" class="prev" href="#">
                            &lt;
                        </a>
                        <a id="next_brand" class="next" href="#">
                            &gt;
                        </a>
                    </div>
                    <ul id="braldLogo">
                        <li>
                            <ul class="brand_item">
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="images/envato.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="images/themeforest.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="images/photodune.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="images/activeden.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="images/envato.png" alt="">
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="brand_item">
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="images/envato.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="images/themeforest.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="images/photodune.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="images/activeden.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="brand-logo">
                                            <img src="images/envato.png" alt="">
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <!-- Th:replace sẽ thay thế đoạn mã này bằng footer.html trong layout.html -->
    <div th:replace="layout/footer :: footer"></div>

</div>

<!-- Bootstrap core JavaScript==================================================-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" th:src="@{js/jquery-1.10.2.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.easing.1.3.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.sequence-min.js}"></script>
<script type="text/javascript"
        th:src="@{js/jquery.carouFredSel-6.2.1-packed.js}"></script>
<script defer th:src="@{js/jquery.flexslider.js}"></script>
<script type="text/javascript" th:src="@{js/script.min.js}"></script>
</body>
</html>