<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Shop quần áo </title>
</head>
<body>
	<footer class="footer">
            <div class="footer-info">
               <div class="container">
                  <div class="row">
                     <div class="col-md-3">
                        <div class="footer-logo"><a href="#"><img src="images/logo.png" alt=""></a></div>
                     </div>
                     <div class="col-md-3 col-sm-6">
                        <h4 class="title">Thông tin hỗ trợ </h4>
                        <p>Tân Hưng Thuận, Quận 12, Thành phố Hồ Chí Minh, Việt Nam</p>
                        <p>Số điện thoại : (084) 1900 1008</p>
                        <p>Email : phatndps15970@gmail.com</p>
                     </div>
                     <!-- <div class="col-md-3 col-sm-6">
                        <h4 class="title">Customer<strong> Support</strong></h4>
                        <ul class="support">
                           <li><a href="#">FAQ</a></li>
                           <li><a href="#">Payment Option</a></li>
                           <li><a href="#">Booking Tips</a></li>
                           <li><a href="#">Infomation</a></li>
                        </ul>
                     </div> -->
                     <div class="col-md-3">
                        <h4 class="title">Phản hồi</h4>
                        <p><a th:href="@{/contact}" style="color: white;"> Gửi phẩn hồi</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright-info">
               <div class="container">
                  <div class="row">
                     <div class="col-md-6">
                        <p> © 2023 . FPT Polytechnic</p>
                     </div>
                     <div class="col-md-6">
                        <ul class="social-icon">
                           <li><a href="#" class="linkedin"></a></li>
                           <li><a href="#" class="google-plus"></a></li>
                           <li><a href="#" class="twitter"></a></li>
                           <li><a href="#" class="facebook"></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
</body>
</html>