<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}">
    <title>
        Welcome to FlatShop
    </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,100italic,100'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link media="screen" rel="stylesheet" th:href="@{/css/flexslider.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}" type="text/css"/>
</head>
<body>
<div class="wrapper">
    <div class="wrapper">
        <!-- Th:replace sẽ thay thế đoạn mã này bằng header.html trong layout.html -->
        <div th:replace="layout/header :: header"></div>
        <div class="clearfix">
        </div>
        <div class="container_fullwidth">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="category leftbar">
                            <h3 class="title">
                                Danh mục sản phẩm
                            </h3>
                            <ul>
                                <li th:each="categories : ${categories}">
                                    <a th:href="@{'/productGird/' + ${categories.categoryID}}"
                                       th:text="${categories.name}">

                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix">
                        </div>
                        <!--            <div class="branch leftbar">-->
                        <!--              <h3 class="title">-->
                        <!--                Branch-->
                        <!--              </h3>-->
                        <!--              <ul>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                    New-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                    Sofa-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                    Salon-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                    New Trend-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                    Living room-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                    Bed room-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--              </ul>-->
                        <!--            </div>-->
                        <!--            <div class="clearfix">-->
                        <!--            </div>-->
                        <!-- <div class="price-filter leftbar">
                            <h3 class="title">
                                Price
                            </h3>
                            <form class="pricing">
                                <label>
                                    $
                                    <input type="number" id="PriceMin">
                                </label>
                                <span class="separate">
                   -
                 </span>
                                <label>
                                    $
                                    <input type="number" id="PriceMax">
                                </label>
                                <input type="submit" value="Go" onclick="getPrice();">
                            </form>
                        </div> -->
                        <!--            <div class="clearfix">-->
                        <!--            </div>-->
                        <!--            <div class="clolr-filter leftbar">-->
                        <!--              <h3 class="title">-->
                        <!--                Color-->
                        <!--              </h3>-->
                        <!--              <ul>-->
                        <!--                <li>-->
                        <!--                  <a href="#" class="red" style="background-color: #3366ff" >-->
                        <!--                    light red-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#" class=" yellow-bg">-->
                        <!--                    yellow"-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#" class="black-bg ">-->
                        <!--                    black-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#" class="pink-bg">-->
                        <!--                    pink-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#" class="dkpink-bg">-->
                        <!--                    dkpink-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#" class="chocolate-bg">-->
                        <!--                    chocolate-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#" class="orange-bg">-->
                        <!--                    orange-bg-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#" class="off-white-bg">-->
                        <!--                    off-white-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#" class="extra-lightgreen-bg">-->
                        <!--                    extra-lightgreen-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#" class="lightgreen-bg">-->
                        <!--                    lightgreen-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#" class="biscuit-bg">-->
                        <!--                    biscuit-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#" class="chocolatelight-bg">-->
                        <!--                    chocolatelight-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--              </ul>-->
                        <!--            </div>-->
                        <!--            <div class="clearfix">-->
                        <!--            </div>-->
                        <!--            <div class="product-tag leftbar">-->
                        <!--              <h3 class="title">-->
                        <!--                Products-->
                        <!--                <strong>-->
                        <!--                  Tags-->
                        <!--                </strong>-->
                        <!--              </h3>-->
                        <!--              <ul>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                    Lincoln us-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                    SDress for Girl-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                    Corner-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                    Window-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                    PG-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                    Oscar-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                    Bath room-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                    PSD-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--              </ul>-->
                        <!--            </div>-->
                        <div class="clearfix">
                        </div>
                        <!--            <div class="others leftbar">-->
                        <!--&lt;!&ndash;              <h3 class="title">&ndash;&gt;-->
                        <!--&lt;!&ndash;                Others&ndash;&gt;-->
                        <!--&lt;!&ndash;              </h3>&ndash;&gt;-->
                        <!--            </div>-->
                        <div class="clearfix">
                        </div>
                        <!--            <div class="others leftbar">-->
                        <!--&lt;!&ndash;              <h3 class="title">&ndash;&gt;-->
                        <!--&lt;!&ndash;                Others&ndash;&gt;-->
                        <!--&lt;!&ndash;              </h3>&ndash;&gt;-->
                        <!--            </div>-->
                        <div class="clearfix">
                        </div>
                        <!--            <div class="fbl-box leftbar">-->
                        <!--              <h3 class="title">-->
                        <!--                Facebook-->
                        <!--              </h3>-->
                        <!--              <span class="likebutton">-->
                        <!--                  <a href="#">-->
                        <!--                    <img src="images/fblike.png" alt="">-->
                        <!--                  </a>-->
                        <!--                </span>-->
                        <!--              <p>-->
                        <!--                12k people like Flat Shop.-->
                        <!--              </p>-->
                        <!--              <ul>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--                <li>-->
                        <!--                  <a href="#">-->
                        <!--                  </a>-->
                        <!--                </li>-->
                        <!--              </ul>-->
                        <!--              <div class="fbplug">-->
                        <!--                <a href="#">-->
                        <!--                    <span>-->
                        <!--                      <img src="images/fbicon.png" alt="">-->
                        <!--                    </span>-->
                        <!--&lt;!&ndash;                  Facebook social plugin&ndash;&gt;-->
                        <!--                </a>-->
                        <!--              </div>-->
                        <!--            </div>-->
                        <div class="clearfix">
                        </div>
                        <div class="leftbanner">
                            <img alt="" src="images/banner-small-01.png">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="banner">
                            <div class="bannerslide" id="bannerslide">
                                <ul class="slides">
                                    <li>
                                        <a href="#">
                                            <img alt="" th:src="@{/images/banner-01.jpg}"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img alt="" src="images/banner-02.jpg"/>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div class="products-grid">
                            <div class="toolbar">
                                <div class="sorter">
                                    <!--                  <div class="view-mode">-->
                                    <!--                    <a th:href="@{/productlist}" class="list">-->
                                    <!--                      List-->
                                    <!--                    </a>-->
                                    <!--                    <a th:href="@{/productgird}" class="grid active">-->
                                    <!--                      Grid-->
                                    <!--                    </a>-->
                                    <!--                  </div>-->
                                    <div class="sort-by">
                                        Xắp xếp theo
                                        <select id="listPriceMinMax" onchange="getSelectValue();">
                                            <option value="productgird" id="productgird">
                                                Giá
                                            </option>
                                            <option value="productPriceMax" id="productPriceMax">
                                                Giá giảm dần
                                            </option>
                                            <option value="productPriceMin" id="productPriceMin">
                                                Giá tăng dần
                                            </option>
                                        </select>
                                    </div>
                                    <!--                  <div class="limiter">-->
                                    <!--                    Show :-->
                                    <!--                    <select name="" >-->
                                    <!--                      <option value="3" selected>-->
                                    <!--                        3-->
                                    <!--                      </option>-->
                                    <!--                      <option value="6">-->
                                    <!--                        6-->
                                    <!--                      </option>-->
                                    <!--                      <option value="9">-->
                                    <!--                        9-->
                                    <!--                      </option>-->
                                    <!--                    </select>-->
                                    <!--                  </div>-->
                                </div>
                                <div class="pager">
                                    <li th:class="${currentPage == 1 ? 'disabled' : ''}">
                                        <a class="prev-page" href="#"
                                           th:href="@{${currentPage > 1} ? ${ '?page=' + (currentPage -1)} : ''}">
                                            <i class="fa fa-angle-left">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:class="${currentPage == 1 ? 'active' : ''}" th:href="@{'?page=' +${1}}">
                                            1
                                        </a>
                                    </li>
                                    <li th:style="${currentPage == 1 or currentPage == totalPages  ? 'display: none' : '' }">
                                        <a style="color: red" th:text="${currentPage}">
                                        </a>
                                    </li>
                                    <li>
                                        <a>...</a>
                                    </li>
                                    <li>
                                        <a th:class="${currentPage == totalPages ? 'active' : ''}"
                                           th:href="@{'?page=' +${totalPages}}"
                                           th:text="${totalPages}">
                                        </a>
                                    </li>
                                    <li th:class="${currentPage == totalPages ? 'disabled' : ''}">
                                        <a class="next-page" href="#"
                                           th:href="@{${currentPage < totalPages} ? ${'?page=' + (currentPage +1)} : ''}">
                                            <i class="fa fa-angle-right">
                                            </i>
                                        </a>
                                    </li>
                                </div>
                            </div>
                            <div class="clearfix">
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-6" th:each="product : ${products}">
                                    <div class="products">
                                        <div class="thumbnail">
                                            <div class="imgthumnail">
                                                <a style="width: 176px" th:href="@{'/product/' + ${product.productID}}">
                                                    <img alt="Product Name"
                                                         style="width: 120px"
                                                         th:src="@{'/getimage/' + ${product.categoryID} + '/' + ${product.img}}"></a>
                                                <div class="colorProduct">
                                                        <span class="color-style"
                                                              th:each="color : ${product.color}"
                                                              th:style="'--data-color:'+${color.colorhex}"
                                                        ></span>
                                                </div>
                                            </div>
                                            <div class="imgShow">
                                                <img alt="prd" onclick="showProduct(this)"
                                                     style="margin-bottom: 5px" th:each="imgprd : ${product.nameImg}"
                                                     th:src="@{'/getimage/' + ${product.categoryID} + '/' + ${imgprd}}">
                                            </div>
                                        </div>
                                        <div class="productname" th:text="${product.name}">

                                        </div>
                                        <h4 class="price"
                                            th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' VND'"></h4>

                                        </h4>
                                        <div class="button_group" style="top: 87%">
                                            <a th:href="@{'/product/' + ${product.productID}}">
                                                <button class="button add-cart" type="button">
                                                    Thêm vào giỏ hàng
                                                </button>
                                            </a>
                                            <button class="button wishlist" type="button">
                                                <i class="fa fa-heart-o">
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                            </div>
                            <div class="toolbar">
                                <div class="clearfix">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                    <div class="our-brand">
                        <h3 class="title">
                            Thương hiệu
                        </h3>
                        <div class="control">
                            <a class="prev" href="#" id="prev_brand">
                                &lt;
                            </a>
                            <a class="next" href="#" id="next_brand">
                                &gt;
                            </a>
                        </div>
                        <ul id="braldLogo">
                            <li>
                                <ul class="brand_item">
                                    <li><a href="#">
                                        <div class="brand-logo">
                                            <img alt="" th:src="@{/images/envato.png}">
                                        </div>
                                    </a></li>
                                    <li><a href="#">
                                        <div class="brand-logo">
                                            <img alt="" th:src="@{/images/themeforest.png}">
                                        </div>
                                    </a></li>
                                    <li><a href="#">
                                        <div class="brand-logo">
                                            <img alt="" th:src="@{/images/photodune.png}">
                                        </div>
                                    </a></li>
                                    <li><a href="#">
                                        <div class="brand-logo">
                                            <img alt="" th:src="@{/images/activeden.png}">
                                        </div>
                                    </a></li>
                                    <li><a href="#">
                                        <div class="brand-logo">
                                            <img alt="" th:src="@{/images/envato.png}">
                                        </div>
                                    </a></li>
                                </ul>
                            </li>

                            </a></li>
                        </ul>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
            <!-- Th:replace sẽ thay thế đoạn mã này bằng footer.html trong layout.html -->
            <div th:replace="layout/footer :: footer"></div>
        </div>
    </div>
</div>
    <script src="/js/home.js"></script>
    <script th:src="@{/js/jquery-1.10.2.min.js}" type="text/javascript">
    </script>
    <script th:src="@{/js/jquery.easing.1.3.js}" type="text/javascript">
    </script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript">
    </script>
    <script defer th:src="@{/js/jquery.flexslider.js}">
    </script>
    <script th:src="@{js/jquery.sequence-min.js}" type="text/javascript">
    </script>
    <script th:src="@{/js/jquery.carouFredSel-6.2.1-packed.js}" type="text/javascript">
    </script>
    <script th:src="@{/js/script.min.js}" type="text/javascript">
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        window.onload = () => {
            location.href.includes("page") && window.scrollBy(0, 448.79998779296875);
        }
    </script>

    <script>


        function getSelectValue() {
            var SelectValue = document.getElementById("listPriceMinMax").value;
            window.location.assign("/" + SelectValue)
        }
        window.addEventListener("load", () => {
            let id ;
            location.href.includes("productgird") ? id = "productgird" : ( location.href.includes("productPriceMin") ? id = "productPriceMin" : id = "productPriceMax")
            document.querySelector(`#${id}`).setAttribute("selected", "selected")
        })
    </script>
    ///productPriceMin listPriceMinMax
</body>
</html>