<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>[[${pageTitle}]]</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png"
	th:href="@{login/images/icons/favicon.ico}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{login/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{login/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{login/fonts/iconic/css/material-design-iconic-font.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{login/vendor/animate/animate.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{login/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{login/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{login/vendor/select2/select2.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{login/vendor/daterangepicker/daterangepicker.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" th:href="@{login/css/util.css}">
<link rel="stylesheet" type="text/css" th:href="@{login/css/main.css}">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100"
			style="background-image: url('login/images/bg-01.jpg');">
			<div class="wrap-login100">
				<form method="post" th:action="@{/reset_password}"
					class="login100-form validate-form">
					<span class="login100-form-logo"> <i
						class="zmdi zmdi-landscape"></i>
					</span> <span class="login100-form-title p-b-34 p-t-27"> Đổi mật khẩu </span> <input type="hidden" name="token" th:value="${token}" />

					<div class="wrap-input100 validate-input" data-validate="">
						<input class="input100" type="password" name="password"
							id="password" placeholder="Nhập mật khẩu mới" required autofocus>
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input"
						data-validate="">
						<input class="input100" type="password" name="confirmPassword"
							id="confirmPassword" placeholder="Xác nhận mật khẩu mới"
							oninput="checkPasswordMatch(this);" required autofocus> <span
							class="focus-input100"></span>
					</div>

					<h5 class="text-center" style="color: red; margin-top: -15px"></h5>
					<br>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit"
							value="Change Password">Đổi mật khẩu</button>
					</div>

				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script th:src="@{login/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{login/vendor/animsition/js/animsition.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{login/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{login/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{login/vendor/select2/select2.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{login/vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{login/vendor/daterangepicker/daterangepicker.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{login/vendor/countdowntime/countdowntime.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{login/js/main.js}"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
function checkPasswordMatch(fieldConfirmPassword) {
	
	if ($("#confirmPassword").val() != $("#password").val()) {
		fieldConfirmPassword.setCustomValidity("Mật khẩu không trùng khớp !");
	} else {
		fieldConfirmPassword.setCustomValidity("");
	}
}
</script>

</body>
</html>